<div class="services-content">
  <h2>Services</h2>

  <div id="service-list">
    <%= render :partial => "service_list" %>
  </div>
</div>

<div id="add-service" class="service-dialog">
</div>

<div id="edit-service" class="service-dialog" style="display:none">
</div>
