<% if flash[:error] %>
  <div class="alert alert-error reservation-errors">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:error] %>
  </div>
<% end %>

<div id="error-message">
</div>

<%= form_for therapist, :url => therapists_path(therapist), :method => 'post', :html => {:id => "new-therapist"} do |f| %>
  <%= render :partial => 'account', :locals => {:f => f, :therapist => therapist} %>
<% end %>
