<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h5>Errors are preventing the account from being saved:</h5>
  <ul>
    <% errors.each do |key, val| %>
      <li><%= val %></li>
    <% end %>
  </ul>
</div>
