<div class="therapists-content">
  <h2>Therapists</h2>

  <div id="therapist-list">
    <%= render :partial => "therapist_list" %>
  </div>
</div>

<div id="add-therapist" class="therapist-dialog">
</div>

<div id="edit-therapist" class="therapist-dialog" style="display:none">
</div>
