<% if current_user %>
  <div id="index-body" class="page-body">
    <h2> Home Page </h2>
    <% if flash[:notification] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notification] %>
      </div>
    <% end %>
    <div id="reservation-list">
      <%= render :partial => "reservation_list" %>
    </div>
  </div>

  <div id="add-reservation" class="reservation-dialog" style="display:none">
    <%= render :partial => "add_reservation", :locals => {:reservation => @reservation} %>
  </div>

  <div id="edit-reservation" class="reservation-dialog" style="display:none">
  </div>
<% else %>
  
<% end %>

<div class="container-clearer"></div>
