div.customers-content {
  #customer-list {
    #customer-table_wrapper {
      table {
        tbody tr td:last-child { text-align:center; width:15%;}
      }
    }
  }
}

#add-customer, #edit-customer {
  div.left { float:left; }
  div.right { float:right; }
}

