/********** HOME PAGE **********/
div.page-body {
  #reservation-list {
    #home-reservation_wrapper {
      .row-fluid:first-child { display:none; }
      table {
        tbody tr td { text-align:center; }
      }
    }
  }
}

.reservation-dialog {
  form {
    #reservation-form {
      td.labels { padding-right:10px; }
      td.inputs {
        select, #reservation_number_people { width:15%;}
      }
    }
  }
}

