/********** HOME PAGE **********/
#index-body {
  #reservation-list {
    #home-reservation_wrapper {
      .row-fluid:first-child { display:none; }
    
    }
  }
}

#add-reservation {
  form.new_reservation {
    #reservation-form {
      td.labels { padding-right:10px; }
      td.inputs {
        select, #reservation_number_people { width:60px; }
      }
    }
  }
}

