div.new-user-body {
  padding: 0px 15px 15px 15px;
  div.left, div.right {float:left;}
  div.left {
    padding-right: 40px;
    border-right: 2px solid #CCC;
  }
  div.right {
    padding-left: 40px;
  }
}
