.packages-content {
  .tab-content {
    overflow: hidden;
    #financials-table {
      thead th:first-child { display: none; }
      tbody tr td:first-child { display: none; }
    }
  }
  .ui-datepicker-trigger { cursor: pointer;}
}

