/********** HOME PAGE **********/
div.reservations-content {
  #reservation-list {
    .ui-datepicker-trigger { cursor: pointer; }
    #reservation-table_wrapper {
      .row-fluid:first-child { display:none; }
      table {
        tbody tr td:last-child { text-align:center; width:15%;}
      }
    }
  }
}

.reservation-dialog {
  form {
    #reservation-form {
      td.labels { padding-right:10px; }
      td.inputs {
        div.control-group.error { margin-bottom:0px; }
        #reservation_number_people { width:15%;}
        #hour, #minutes, #am_pm { width:25% }
      }
    }
  }
}

