div.transactions-content {
  #transactions-list {
    .ui-datepicker-trigger { cursor: pointer; }
    #transaction-table_wrapper {
      table {
        tbody tr td { text-align: center; }
      }
    }
  }
  
  #step1, #step2, #step3 {
    width: 900px;
    margin-left: -450px;
    #step-headers { 
      border-bottom: 2px solid #CCC; 
      margin-bottom: 10px; 
      .divider { border-right:2px solid #CCC; margin-right:10px; margin-left:8px; }
    }
  }

  #step1 {
    .customer-pool table {
      border: 2px solid #CCC;
      tbody tr td:first-child { font-weight:bold; padding:5px 0px 5px 5px }
      tbody tr td:last-child { padding:5px 5px 5px 0px }
    }
    .customer-list {
      border-left: 2px solid #CCC;
      padding-left: 30px;
      .dataTables_filter { float:left; }
      #customer-table {
        tbody tr td:first-child { text-align:center; }
      }
    }
  }
  
  #step2 {
    .service-columns {
      .service-list {
        border-left: 2px solid #CCC;
        padding-left: 30px;
        #service-table {
          tbody tr td:first-child { text-align:center; }
        }
        select.am-pm-selector { width:15%; }
        .footer {
          padding-top: 10px;
          float: right;
          #total-cost-label {
            font-weight: bold;
            position: relative;
            bottom: 5px;
          }
          #total-cost {
            width: 50px;
          }
        }
      }
    }
  }

  #step3 {
    .additional-info {
      margin-left: 30px;
      table tr td:first-child { font-weight:bold; padding:5px 5px 20px 0px; }
    }
  }
}
