<div class="modal hide fade" id="step1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Create a New Transaction</h3>
  </div>
  <%= render :partial => "step_1", :locals => {:customers => customers} %>
</div>

<div class="modal hide fade" id="step2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Create a New Transaction</h3>
  </div>
  <%= render :partial => "step_2" %>
</div>

<div class="modal hide fade" id="step3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Create a New Transaction</h3>
  </div>
  <%= render :partial => "step_3" %>
</div>
