<table id="customer-table" class="table table-striped table-bordered table-hover" data-source="<%= customer_table_data_transactions_url(format: 'json') %>">
  <thead>
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
  </thead>
  <tbody>
  </tbody>
</table>
