<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="transaction-modal-title">Create a New Transaction</h3>
</div>
<div class="modal-body">
  <div id="step-headers">
    <span class="step1 btn disabled">Step 1: Select the Customer</span>
    <span class="divider"></span>
    <span class="step2 btn btn-inverse">Step 2: Select the Services</span>
    <span class="divider"></span>
    <span class="step3 btn disabled">Step 3: Additional Info</span>
  </div>
  <div class="service-columns">
    <% if transaction.customer %>
      <%= render :partial => "service_columns", :locals => {:customer => transaction.customer, :transaction => transaction} %>
    <% else %>
      <h5>Please select a customer first.</h5>
    <% end %>
  </div>
</div>

<div class="modal-footer">
  <a href="#step1" class="btn transition" data-toggle="modal">Previous</a>
  <a href="#step3" class="btn btn-primary transition" data-toggle="modal">Next</a>
  <a href="#" class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
</div>
