<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="transaction-modal-title">Create a New Transaction</h3>
</div>
<div class="modal-body">
  <div id="step-headers">
    <span class="step1 btn disabled">Step 1: Select the Customer</span>
    <span class="divider"></span>
    <span class="step2 btn disabled">Step 2: Select the Services</span>
    <span class="divider"></span>
    <span class="step3 btn btn-inverse">Step 3: Additional Info</span>
  </div>
  
  <div class="additional-info">
    <table>
      <tr>
        <td>Therapist: </td>
        <td><%= select_tag :therapists, options_for_select(therapists.map {|z| [z.name, z.id]}, :selected => transaction.therapist ? transaction.therapist.id : 0), :class=>'therapists'%></td>
      </tr>
      <tr>
        <td>Transaction Date: </td>
        <td><%= text_field_tag :date, transaction.transac_date ? transaction.transac_date : Date.current.strftime("%Y-%m-%d"), :id => "transaction-form-date-selector" %></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td><%= text_area_tag :notes, "", :size => "10x5"%></td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <a href="#step2" class="btn transition" data-toggle="modal">Previous</a>
  <a href="#" class="btn btn-primary submit">Save</a>
  <a href="#" class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</a>
</div>
