<div id="transaction-modal-content">
  <div class="modal hide fade" id="step1" tabindex="-1" role="dialog" aria-hidden="true">
    <%= text_field_tag :transaction_id, transaction.id, :class=> "hidden" %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="transaction-modal-title">Create a New Transaction</h3>
    </div>
    <%= render :partial => "step_1", :locals => {:customers => customers, :transaction => transaction} %>
  </div>

  <div class="modal hide fade" id="step2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="transaction-modal-title">Create a New Transaction</h3>
    </div>
    <%= render :partial => "step_2", :locals => {:services => services, :transaction => transaction} %>
  </div>

  <div class="modal hide fade" id="step3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="transaction-modal-title">Create a New Transaction</h3>
    </div>
    <%= render :partial => "step_3", :locals => {:therapists => therapists, :transaction => transaction} %>
  </div>
</div>
