<div class="transactions-content">
  <h2>Transactions</h2>

  <div id="transactions-list">
    <%= render :partial => "transaction_list", :locals => {:date => @date} %>
  </table>
</div>

<div id="transaction-modal">
  <div class="modal hide fade" id="step1" tabindex="-1" role="dialog" aria-hidden="true">
  </div>
  <div class="modal hide fade" id="step2" tabindex="-1" role="dialog" aria-hidden="true">
  </div>
  <div class="modal hide fade" id="step3" tabindex="-1" role="dialog" aria-hidden="true">
  </div>
</div>

<div class="modal hide fade" id="show-transaction" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<div class="modal hide fade" id="error" tabindex="-1" role="dialog" aria-hidden="true">
</div>

