<div class="transactions-content">
  <h2>Transactions</h2>

  <div id="transactions-list">
    <%= render :partial => "transaction_list", :locals => {:transactions => @transactions, :date => @date} %>
  </table>
</div>

<%= render :partial => "add_transaction", :locals => {:transaction => @transaction, :customers => @customers, :services => @services} %>

<div id="edit-transaction" class="transaction-dialog" style="display:none">
</div>
