<div class="transactions-content">
  <h2>Transactions</h2>

  <div id="transactions-list">
    <%= render :partial => "transaction_list", :locals => {:transactions => @transactions, :date => @date} %>
  </table>
</div>

<div id="transaction-modal">
</div>
