<div class="master-page-sidebar">
  <div class="sidebar main-bar">
    <ul class="options">
      <li><a href="#"><%= image_tag "Shiny_green_button_by_Ahimsa1.png", :size => "200x70" %></a></li>
      <li><a href="#"><%= image_tag "Shiny_green_button_by_Ahimsa1.png", :size => "200x70" %></a></li>
    </ul>
  </div>
</div>
